.first {
    border: 1px solid grey;
    padding: 20px;
    background: grey;
    color: black;
}
.second {
    color: blue;
}
p {
    color:black;
    font-size: 22px;
}
h2 {
    color:black;
    font-size: 22px;
}
li {
    font-size: 18px;
    margin-left: 30px;
}